[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
Flask = "*"
flask-restx = "*"
flask-cors = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.8"
